@import "bootstrap";

html, body {
  margin: 20px;
}
.categories-list, .offline-topics-list {
  float: left;
  width: 25%;
}
.topics-list{
	float: left;
	width: 74%;
}

.selectable-topics li {
	list-style: none;
}

.offcourse-main {
	padding-top: 40px;
}

.domain-form input {
	min-width: 300px;
}

.domain-form label {
	color: black;
}