@import "bootstrap";

html, body {
  margin: 20px;
}

.category-nav-item, .topic-nav-item {
	margin-bottom: 2px;
}

.category-nav-item a:hover, .topic-nav-item a:hover{
	background-color: #cccccc !important;
}
.category-nav-item a, .topic-nav-item a{
	padding: 5px 10px !important;
	background-color: #eeeeee;
	cursor: pointer;
}

.inline-input {
	width: 40%;
  display: inline-block;
}

.navbar-default {
background-color: #348CB2;
}
.topic-details .panel-heading {
background-color: #348CB2;
}

.navbar-brand a{
color: white;
font-size: larger;
}
.navbar-banner{
	color: white;
	font-size: smaller;
}

.categories-list, .offline-topics-list {
  float: left;
  width: 25%;
}
.topics-list{
	float: left;
	width: 74%;
}

.selectable-topics li {
	list-style: none;
}

.offcourse-main {
	padding-top: 40px;
}

.domain-form input {
	min-width: 300px;
}

.domain-form label {
	color: black;
}