@import "bootstrap";

html, body {
  margin: 20px;
}
.categories-list, .offline-topics-list {
  float: left;
  width: 25%;
}
.topics-list{
	float: left;
	width: 74%;
}

.selectable-topics li {
	list-style: none;
}