@import "bootstrap";

html, body {
  margin: 20px;
}

.topic-source-url a{
	color:white;
}

.pageload-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
}
 
.pageload-overlay.show {
    visibility: visible;
}
 
.pageload-overlay svg {
    position: absolute;
    top: 0;
    left: 0;
}
 
.pageload-overlay svg path {
    fill: #fff;
}


.topic-list-label {
	cursor: pointer;
}

.save-offline a{
	cursor: pointer;
}

/* needed to ensure modal is not behind backdrop*/
.modal-dialog{
	z-index: 1041;
}

.category-nav-item, .topic-nav-item {
	margin-bottom: 2px;
}

.category-nav-item a:hover, .topic-nav-item a:hover{
	background-color: #cccccc !important;
}
.category-nav-item a, .topic-nav-item a{
	padding: 5px 10px !important;
	background-color: #eeeeee;
	cursor: pointer;
}

.inline-input {
	width: 80%;
  display: inline-block;
}

.navbar-fixed-bottom {
	min-height: 20px;
}
.navbar-fixed-top {
	background-color: #348CB2;
}
.topic-details .panel-heading {
	background-color: #348CB2;
	color: white;
}
.offline-topics .well {
	background-color: white;
}

.navbar-brand a{
	color: white;
	font-size: larger;
}
.navbar-banner, .navbar-default .navbar-nav > li > a{
	color: white;
}
.navbar-banner{
	font-size: smaller;
}

.categories-list, .offline-topics-list {
  float: left;
  width: 25%;
}
.topics-list{
	float: left;
	width: 74%;
}

.selectable-topics li {
	list-style: none;
}

.offcourse-main {
	padding-top: 40px;
}

.domain-form input {
	min-width: 300px;
}

.domain-form label {
	color: black;
}