<div class="row">

</div>

<div class="topic-details">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>{{ model.title }}</h4>
    </div>
{{!--     <div class="panel-body">
    </div>
 --}}
    <ul class="list-group">

      {{#each item in model.post_stream.posts }}
      <li class="list-group-item">

        {{post-details post=item }}

        {{{ item.cooked }}}
      </li>
      {{/each}}

    </ul>

  </div>

</div>
