
{{#unless isTopicView}}
  <div class="">
		<ul>

		{{#each item in model.topic_list.topics }}
		<li>
			{{#link-to 'categories.category.topic' item.id }}
			  {{ item.title }}
			{{/link-to}}

		</li>
		{{/each}}

		</ul>

	</div>
{{/unless}}

<div>
	{{outlet}}
</div>