<div class="row" style="margin-top:20px">
  <div class="col-md-1 categories-list">
    Categories:
    <ul class="nav nav-pills nav-stacked">
      {{#each item in model.categories }}

      {{#link-to 'retriever.site.category' controller.siteDetails.slug item.slug '1' tagName="li" 
        class="category-nav-item" }}
        <a {{bind-attr href="view.href"}}>{{ item.name }}   
{{!--           <div class="pull-right"><span class="badge"> {{ item.topic_count }} <i class="fa fa-comment-o"></i></span></div>
 --}}        </a>
      {{/link-to}}

      {{/each}}

    </ul>

  </div>

  <div class="col-md-11 topics-list">
    {{outlet}}
  </div>

</div>
