<div class="selectable-topics">

  Select topics below
  <a {{action 'saveTopicsOffline'}}>and click here to save offline</a>

  {{summary-topic-list options=model.topic_list.topics labelProperty='title'
  siteDetails=controller.siteDetails selection=selectedTopics }} 

  {{!-- 
  <ul>
    {{#each item in model.topic_list.topics }}
    <li>
      {{#link-to 'categories.category.topic' item.id }} {{ item.title }} {{/link-to}}

    </li>
    {{/each}}

  </ul>--}}

</div>
