<div class="selectable-topics">

<div class="row">
  <h3>Select topics below
    <small><a {{action 'saveTopicsOffline'}}>and click here to save offline</a></small>
    {{#link-to 'topics' class="btn btn-primary btn-sm pull-right"  }} View your offline topics {{/link-to}}

  </h3>
</div>

<div class="row">
    {{summary-topic-list options=model.topic_list.topics labelProperty='title'
  siteDetails=controller.siteDetails selection=selectedTopics previewTopicAction="previewTopic" }} 
</div>

</div>
