<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    
        <h2 id='title'>
      {{#link-to 'index' }} Offcourse {{/link-to}}

      <small>{{#link-to 'topics' }} Go offline.. {{/link-to}}
      </small>

    </h2>
  </div>
</nav>

<div class="container">

  <div class="row">
  </div>

  {{outlet}}
</div>
