<div>
  <h3>Select topics to view {{#link-to 'topics' }} offline. {{/link-to}}</h3>
</div>
<div class="row">
  <div class="col-md-2">
  <div>
            <label class="control-label" >Displaying info from:</label>
  </div>
  </div>
      <div class="col-md-4">
          {{select-2
    content=model
    value=currentSite
    placeholder="Choose site"
    allow-clear=true
}}

    </div>

  <div class="col-md-6">
    <form {{action "addSite" on="submit"}}>
      <div class="form-group">
        <label class="control-label" for='name'>Add a discourse site url:</label>
        {{input placeholder="eg: https://meta.discourse.org" value=newSiteUrl id="domain-url"
           autofocus="autofocus" class="form-control inline-input"}}
      <button class="btn btn-primary" type="submit">Save</button>

      </div>
    </form>

  </div>

</div>

{{ outlet }}