<div>
  <div style="">
    {{input placeholder="eg: https://meta.discourse.org" value=domainUrl id="domain-url"
     autofocus="autofocus"}}
  </div>
  <div>
    <button class='btn btn-small btn-primary' {{action 'addSite'}}>
      Go
    </button>
  </div>
</div>


<div>
  <h3>Discourse sites</h3>
</div>

<div class="row offline-topics">
  <div class="col-md-3">
    <div class="bs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav bs-sidenav">
        <ul>

          {{#each site in model }}
          <li>
            {{#link-to 'sites.site' site.id }} {{ site.title }} {{/link-to}}
          </li>
          {{/each}}

        </ul>

    </div>
  </div>
  <div class="col-md-9" role="main">
    {{ outlet }}
  </div>
</div>

