<div class="row offline-topics">

  <div class="col-md-3">
    <div class="bs-sidebar hidden-print affix-top" role="complementary">
      Offline Topics:
      <ul class="nav bs-sidenav">
        <ul>

          {{#each topic in model.content }}
          <li>
            {{#link-to 'topics.topic' topic.id }} {{ topic.title }} {{/link-to}}
          </li>
          {{/each}}

        </ul>

    </div>
  </div>
  <div class="col-md-9" role="main">
  	{{ outlet }}
	</div>
</div>

<div class="row">
  <div class="well">
      {{#if controllers.Application.navigatorIsOnline }}
        <span>Application says: Navigator is online</span>
      {{else}}
        <span>Application says: Navigator is online</span>
      {{/if}}
      {{#if controllers.Application.networkIsOnline }}
        <span>Application says: Network is online</span>
      {{else}}
        <span>Application says: Network is online</span>
      {{/if}}
  </div>
</div>