<div class="offline-topics">

  <div class="col-md-3">
    <div class="bs-sidebar hidden-print affix-top" role="complementary">
      Offlint ts:
      <ul class="nav bs-sidenav">
        <ul>

          {{#each topic in model.content }}
          <li>
            {{#link-to 'topics.topic' topic.id }} {{ topic.title }} {{/link-to}}
          </li>
          {{/each}}

        </ul>

    </div>
  </div>
  <div class="col-md-9" role="main">
  	{{ outlet }}
	</div>
</div>
